* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --color_negro: #000;
    --color_blanco: #FFF;
    --color_hover_gris: #c0c0c0;
    --color_gris: #a8a8a8;
    --color_blue: #4b75ff;
    --color_blue_shadow: #4b75ffaf;
    --font_one: 'Black Han Sans', sans-serif;
    --font_two: 'Chakra Petch', sans-serif;
    --font_three: 'Sarabun', sans-serif;
    --font_four: 'Rubik', sans-serif;
    --font_five: 'Roboto', sans-serif;
}

/* Estilo para el section */
.section__musica {
    color: var(--color_blanco);
}

/* Estilo para el titulo */
.container__title__musica {
    background-color: var(--color_blue);
    color: var(--color_blanco);
    text-transform: uppercase;
    font-family: var(--font_five);
    font-size: 2.7em;
    padding: 10px 19%;
}

.title__musica {
    transform: translateY(56%);
}

/* Estilos para la lista de portadas */
.container__list__music__portada {
    padding: 5% 19.5%;
    background-color: var(--color_negro);
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    justify-items: center;
    gap: 30px;
}

.container__music__musica {
    margin: 0;
    width: 80%;
}

.linea__separadora {
    color: var(--color_blanco);
    height: 5px;
}

.footer__musica {
    padding: 80px 10% 3% 10%;
}