* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --color_negro: #000;
    --color_blanco: #FFF;
    --color_hover_gris: #c0c0c0;
    --color_gris: #a8a8a8;
    --color_blue: #4b75ff;
    --color_blue_shadow: #4b75ffaf;
    --font_one: 'Black Han Sans', sans-serif;
    --font_two: 'Chakra Petch', sans-serif;
    --font_three: 'Sarabun', sans-serif;
    --font_four: 'Rubik', sans-serif;
    --font_five: 'Roboto', sans-serif;
}

@media (max-width: 412px) {
    .section__tienda {
        font-size: 1.5em;
        margin-top: 50px;
    }
}